%div.schedule
  %header
    %h1.page-header לוח שעורים
  %article
    %table.schedule-table
      %thead
        %tr{:height => '43'}
          %td
          %td
            ראשון
          %td
            שני
          %td
            שלישי
          %td
            רביעי
          %td
            חמישי
          %td
            שישי
      %tbody
        %tr#leason1{:height => '43'}
          %td{:width => '50'}
            9:30
          %td.sunday{:width => '80'}
            #{@schedule.sunday_1}
          %td.monday{:width => '79'}
            #{@schedule.monday_1}
          %td.tuesday{:width => '79'}
            #{@schedule.tuesday_1}
          %td.wednseday{:width => '85'}
            #{@schedule.wednesday_1}
          %td.thursday{:width => '79'}
            #{@schedule.thursday_1}
          %td.friday{:width => '79'}
            #{@schedule.friday_1}
        %tr#leason2{:height => '43'}
          %td{:width => '50'}
            11:30
          %td.sunday{:width => '79'}
            #{@schedule.sunday_2}
          %td.monday{:width => '79'}
            #{@schedule.monday_2}
          %td.tuesday{:width => '79'}
            #{@schedule.tuesday_2}
          %td.wednseday{:width => '79'}
            #{@schedule.wednesday_2}
          %td.thursday{:width => '79'}
            #{@schedule.thursday_2}
          %td.friday{:width => '79'}
            #{@schedule.friday_2}
        %tr#leason3{:height => '43'}
          %td
            14:30
          %td.sunday{:width => '50'}
            #{@schedule.sunday_3}
          %td.monday{:width => '79'}
            #{@schedule.monday_3}
          %td.tuesday{:width => '79'}
            #{@schedule.tuesday_3}
          %td.wednseday{:width => '79'}
            #{@schedule.wednesday_3}
          %td.thursday{:width => '79'}
            #{@schedule.thursday_3}
          %td.friday{:width => '79'}
            #{@schedule.friday_3}
        %tr#leason4{:height => '43'}
          %td{:width => '50'}
            18:30
          %td.sunday{:width => '79'}
            #{@schedule.sunday_4}
          %td.monday{:width => '79'}
            #{@schedule.monday_4}
          %td.tuesday{:width => '79'}
            #{@schedule.tuesday_4}
          %td.wednseday{:width => '79'}
            #{@schedule.wednesday_4}
          %td.thursday{:width => '79'}
            #{@schedule.thursday_4}
          %td.friday{:width => '79'}
            #{@schedule.friday_4}
        %tr#leason5{:height => '43'}
          %td{:width => '50'}
            20:30
          %td.sunday{:width => '79'}
            #{@schedule.sunday_5}
          %td.monday{:width => '79'}
            #{@schedule.monday_5}          
          %td.tuesday{:width => '79'}
            #{@schedule.tuesday_5}
          %td.wednseday{:width => '79'}
            #{@schedule.wednesday_5}
          %td.thursday{:width => '79'}
            #{@schedule.thursday_5}
          %td.friday{:width => '79'}
            #{@schedule.friday_5}                                                   
    %img.sutra{:src => 'images/schedule-sutra.png'}
  %section#main-text
    %header
      ‎לקראת תרגול
    %p
      ‎הגיע/י כ-5 דקות לפני התירגול פרוס/י מיזרון, הכנ/י חגורה אם צריך וכרית עיניים. ברכ/י לשלום את שיושב/ת לצידך והירגע/י לתוך השקט שהחדר מציע‫.‬
      •
      ‎התירגול אמור לעזור לעיכול, תירגול על קיבה מלאה מפריע לעיכול ולתירגול‫.‬
      •
      ‎אנא ידע/י את המורה על מצבך הבריאותי. אם חל שינוי במצבך הכללי כגון ניתוח, הריון, מחזור, כדי לקבל הנחיות מתאימות לתירגול‫.‬
      •
      ‎אנא בצע/י את התשלום בזמן על מנת למנוע אי נעימות‫.‬
      •
      ‎ניתן לרכוש מזרן וכרית עיניים אישיים בסטודיו לנוחיותכם‫.‬
    %footer
      ‎תירגול נעים !
  %section.prices
    %header
      %h1.page-header מחירון
    %img{:src => 'images/prices.png'}
%script{:type => "text/javascript", :charset => "utf-8"}
  //<![CDATA[
  $(document).ready(function() {
  rinatyoga.site.schedule();
  })
  //]]>